:root {
    /* Light Mode Colors */
  color: black; 
  --primary-button-background: #FF0000;
  --primary-button-hover-background: #cc0000; 
  --popup-background: #ffffff;
  --secondary-button-background: #E0E0E0;
  --secondary-button-hover-background: #BDBDBD;
  --secondary-button-text: black;
  --shadow-color: rgba(0, 0, 0, 0.1);
}
.unsubby-dark {
  color: white;
  --popup-background: #181818;
  --secondary-button-background: #404040;
  --secondary-button-hover-background: #606060;
  --secondary-button-text: white;
  --shadow-color: rgba(0, 0, 0, 0.5);
}
.unsubby-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5000;
  pointer-events: none;
  opacity: 0%;
  transition: all 0.2s ease-out;
  background-color: rgba(0, 0, 0, 0.2);
}
.unsubby-show-popup {
  opacity: 100%;
  pointer-events: auto;
}
.unsubby-confirmation-popup {
  background-color: var(--popup-background);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 5rem 5rem 5rem;
  box-shadow: 0px 4px 12px var(--shadow-color);
}
.unsubby-popup-text {
  font-weight: 600;
  font-size: 1.5rem;
}
.unsubby-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0 0 0;
}
.unsubby-buttons-container > button {
  margin: 0 1rem 0 1rem;
}
.unsubby-button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: 0;
  font-weight: 600;
  font-size: 1.5rem; 
  transition: all 0.1s ease-out;
}
.unsubby-secondary-button {
  color: var(--secondary-button-text);
  background-color: var(--secondary-button-background);
}
.unsubby-secondary-button:hover {
  background-color: var(--secondary-button-hover-background);
}
.unsubby-primary-button {
  background-color: var(--primary-button-background);
  color: white;
}
.unsubby-primary-button:hover {
  background-color: var(--primary-button-hover-background);
}
.unsubby-unsubscribe-button {
  position: fixed;
  bottom: 4%;
  right: 4%;
}
.unsubby-button:active {
  transform: scale(0.95);
}
.unsubby-checkbox-container {
  position: relative;
  align-self: center;
  margin: 0 0 0.5rem 2rem;
}
.unsubby-checkbox-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0%;
}
.unsubby-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 4px;
  border: 1px solid #cccfdb;
  transition: all 0.1s ease-out;
}
.unsubby-checkbox-label > svg {
  opacity: 0%;
  transform: scale(1.5);
  transition: all 0.1s ease-out;
}
.unsubby-checkbox-label:has(input[type="checkbox"]:checked) {
  background-color: #FF0000;
} 
.unsubby-checkbox-label:has(input[type="checkbox"]:checked) > svg {
  opacity: 100%;
}

